<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>WHEN</th>
      <th>Category</th>
      <th>WHO</th>
      <th>WHAT</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |m| %>
      <tr>
        <td><%= m.created_at.strftime("%d-%m-%Y %H:%M:%S") %></td>
        <td><%= m.category.keyword %></td>
        <td><%= [m.person.first_name.to_s, m.person.last_name.to_s].join(" ") %></td>
        <td><%= m.issue %></td>
        <td><%= m.person.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function() {
    $("table").dataTable({
      "bSort" : false
    });
  });
</script>
